.white{
    width: 1920px;
    height: 1080px;
    background-color: #EFECCA;
    color: #5E565A;

}


.CampusShop{
    position: absolute;
    top: 5vw;
    left: 7vh;
    height: auto;
    width: 1.5vw;
    font-size: 6vh;
}

.todos{
    position: absolute;
    text-decoration: none;
    color: black;
    font-size: 1.3vw;
    top: 13vw;
    left: 3.95vw;
}

.abrigo{
    position: absolute;
    text-decoration: none;
    color: black;
    font-size: 1.3vw;
    top: 16vw;
    left: 3.95vw
}

.camisa{
    position: absolute;
    text-decoration: none;
    color: black;
    font-size: 1.3vw;
    top: 19vw;
    left: 3.95vw;
}

.pantalones{
    position: absolute;
    text-decoration: none;
    color: black;
    font-size: 1.3vw;
    top: 22vw;
    left: 3.95vw;
}

.Carrito{
    position: absolute;
    text-decoration: none;
    color: black;
    font-size: 1.3vw;
    top: 32vw;
    left: 3.95vw;
}

.derechos{
    position: absolute;
    top: 45vw;
    left: 5vw;
}


.container{
    position: absolute;
    background-color: #A9CBB7;
    top: 10vh;
    left: 50vh;
    width: 135vh;
    height: 83vh;
    border-radius: 1vh;
    border-color: green;
    
}

.titulocont1{
    position: absolute;
    top: 3vh;
    left: 6vh;
    font-size: 3.5vh;
}

.container1{
    position: absolute;
    background-color: green;
    width: 27vh;
    height: 33vh;
    border-radius: 1vh;
    top: 9vh;
    left: 6vh;
    cursor: pointer;
}


.container2{
    position: absolute;
    background-color: green;
    width: 27vh;
    height: 33vh;
    border-radius: 1vh;
    top: 9vh;
    left: 38vh;
}

.container3{
    position: absolute;
    background-color: green;
    width: 27vh;
    height: 33vh;
    border-radius: 1vh;
    top: 9vh;
    left: 70vh;
}

.container4{
    position: absolute;
    background-color: green;
    width: 27vh;
    height: 33vh;
    border-radius: 1vh;
    top: 9vh;
    left: 102vh;
}

.container5{
    position: absolute;
    background-color: green;
    width: 27vh;
    height: 33vh;
    border-radius: 1vh;
    top: 46vh;
    left: 6vh;
}

.container11{
    position: absolute;
    top: 23vh;
    width: 27vh;
    height: 10vh;
    border-radius: 1vh;
    background-color: white;


}

.container22{
    position: absolute;
    top: 23vh;
    width: 27vh;
    height: 10vh;
    border-radius: 1vh;
    background-color: white;

}

.container33{
    position: absolute;
    top: 23vh;
    width: 27vh;
    height: 10vh;
    border-radius: 1vh;
    background-color: white;

}
.container44{
    position: absolute;
    top: 23vh;
    width: 27vh;
    height: 10vh;
    border-radius: 1vh;
    background-color: white;

}
.container55{
    position: absolute;
    top: 23vh;
    width: 27vh;
    height: 10vh;
    border-radius: 1vh;
    background-color: white;

}

.abrigo1{
    position: absolute;
    top: 2vh;
    left: 2vh;
}

.precio1{
    position: absolute;
    top: 6.5vh;
    left: 2vh;
}

.abrigo2{
    position: absolute;
    top: 2vh;
    left: 2vh;
}

.precio2{
    position: absolute;
    top: 6.5vh;
    left: 2vh;
}

.abrigo3{
    position: absolute;
    top: 2vh;
    left: 2vh;
}

.precio3{
    position: absolute;
    top: 6.5vh;
    left: 2vh;
}

.abrigo4{
    position: absolute;
    top: 2vh;
    left: 2vh;
}

.precio4{
    position: absolute;
    top: 6.5vh;
    left: 2vh;
}

.abrigo5{
    position: absolute;
    top: 2vh;
    left: 2vh;
}

.precio5{
    position: absolute;
    top: 6.5vh;
    left: 2vh;
}

.fotoabri1{
    position: absolute;
    top: 0vh;
    width: 27vh;
    height: 27vh;
    left: 0vh;
    border-radius: 1vh;
       
}

.todos :hover{
    transform: scale(1.05);
}

.abrigo :hover{
    transform: scale(1.05);
}

.camisas :hover{
    transform: scale(1.05);
}

.pantalones :hover{
    transform: scale(1.05);
}

.carrito :hover{
    transform: scale(1.05);
}

.toggle{
    position: absolute;
    top: 6vh;
    left: 17vh;
    width: 7vh;
}

.agregarr{
    position: absolute;
    text-decoration: none;
    color: black;
    font-size: 1vw;
    top: 3.1vw;
    left: 9vw;
}