.body{
    width: 1920px;
    height: 1080px;
}

.titulo{
    position: absolute;
    top: 10vh;
    font-size: 6vh;
    left: 4vw;
}

.todos{
    position: absolute;
    top: 21vh;
    left: 11vh;
}

.abrigo{
    position: absolute;
    top: 25vh;
    left: 11vh;
}

.camisas{
    position: absolute;
    top: 30vh;
    left: 11vh;
}

.pantalones{
    position: absolute;
    top: 35vh;
    left: 11vh;
}

.derecho{
    position: absolute;
    top: 86vh;
    left: 11vh;
}

.Carrito{
    position: absolute;
    top: 96vh;
    left: 11vh;
}