.white{
    width: 1920px;
    height: 1080px;
    background-color: #EFECCA;
    color: #5E565A;

}


.CampusShop{
    position: absolute;
    top: 5vw;
    left: 7vh;
    height: auto;
    width: 1.5vw;
    font-size: 6vh;
}

.todos{
    position: absolute;
    text-decoration: none;
    color: black;
    font-size: 1.3vw;
    top: 13vw;
    left: 3.95vw;
}

.abrigo{
    position: absolute;
    text-decoration: none;
    color: black;
    font-size: 1.3vw;
    top: 16vw;
    left: 3.95vw
}

.camisa{
    position: absolute;
    text-decoration: none;
    color: black;
    font-size: 1.3vw;
    top: 19vw;
    left: 3.95vw;
}

.pantalones{
    position: absolute;
    text-decoration: none;
    color: black;
    font-size: 1.3vw;
    top: 22vw;
    left: 3.95vw;
}

.Carrito{
    position: absolute;
    text-decoration: none;
    color: black;
    font-size: 1.3vw;
    top: 32vw;
    left: 3.95vw;
}

.derechos{
    position: absolute;
    top: 45vw;
    left: 5vw;
}


.menu {
    position: absolute;
    top: 0.5vw;
    left: 96vw;
    display: inline-block;
}

.majo img {
    width: 2.6vw;
    height: auto;
    cursor: pointer;
}

.toggle {
    display: none;
}

.menu-content {
    display: none;
    position: absolute;
    top: 100%;
    right: 0;
    background-color: #fff;
    padding: 0.5rem;
    border: 1px solid #ccc;
    z-index: 1;
    font-size:1vw;
    white-space: nowrap;
}

.toggle:checked + .menu-content {
    display: block;
}

.menu-content a {
    display: inline-block;
    text-decoration: none;
    color: #000;
    padding: 0.5rem 1rem;
}

.menu-content a:hover {
    background-color: #f2f2f2;
}


.container{
    position: absolute;
    background-color: #A9CBB7;
    top: 10vh;
    left: 50vh;
    width: 135vh;
    height: 83vh;
    border-radius: 1vh;
    border-color: green;
    
}

.titulocont1{
    position: absolute;
    top: 3vh;
    left: 6vh;
    font-size: 3.5vh;
}

.container1{
    position: absolute;
    background-color: green;
    width: 27vh;
    height: 33vh;
    border-radius: 1vh;
    top: 9vh;
    left: 6vh;
    cursor: pointer;
}


.container2{
    position: absolute;
    background-color: green;
    width: 27vh;
    height: 33vh;
    border-radius: 1vh;
    top: 9vh;
    left: 38vh;
    cursor: pointer;
}

.container3{
    position: absolute;
    background-color: green;
    width: 27vh;
    height: 33vh;
    border-radius: 1vh;
    top: 9vh;
    left: 70vh;
    cursor: pointer;
}

.container4{
    position: absolute;
    background-color: green;
    width: 27vh;
    height: 33vh;
    border-radius: 1vh;
    top: 9vh;
    left: 102vh;
    cursor: pointer;
}

.container5{
    position: absolute;
    background-color: green;
    width: 27vh;
    height: 33vh;
    border-radius: 1vh;
    top: 46vh;
    left: 6vh;
    cursor: pointer;
}

.container11{
    position: absolute;
    top: 23vh;
    width: 27vh;
    height: 10vh;
    border-radius: 1vh;
    background-color: white;


}

.container22{
    position: absolute;
    top: 23vh;
    width: 27vh;
    height: 10vh;
    border-radius: 1vh;
    background-color: white;

}

.container33{
    position: absolute;
    top: 23vh;
    width: 27vh;
    height: 10vh;
    border-radius: 1vh;
    background-color: white;

}
.container44{
    position: absolute;
    top: 23vh;
    width: 27vh;
    height: 10vh;
    border-radius: 1vh;
    background-color: white;

}
.container55{
    position: absolute;
    top: 23vh;
    width: 27vh;
    height: 10vh;
    border-radius: 1vh;
    background-color: white;

}

.abrigo1{
    position: absolute;
    top: 2vh;
    left: 2vh;
}

.precio1{
    position: absolute;
    top: 6.5vh;
    left: 2vh;
}

.abrigo2{
    position: absolute;
    top: 2vh;
    left: 2vh;
}

.precio2{
    position: absolute;
    top: 6.5vh;
    left: 2vh;
}

.abrigo3{
    position: absolute;
    top: 2vh;
    left: 2vh;
}

.precio3{
    position: absolute;
    top: 6.5vh;
    left: 2vh;
}

.abrigo4{
    position: absolute;
    top: 2vh;
    left: 2vh;
}

.precio4{
    position: absolute;
    top: 6.5vh;
    left: 2vh;
}

.abrigo5{
    position: absolute;
    top: 2vh;
    left: 2vh;
}

.precio5{
    position: absolute;
    top: 6.5vh;
    left: 2vh;
}

.fotoabri1{
    position: absolute;
    top: 0vh;
    width: 27vh;
    height: 27vh;
    left: 0vh;
    border-radius: 1vh;
       
}

.todos :hover{
    transform: scale(1.05);
}

.abrigo :hover{
    transform: scale(1.05);
}

.camisas :hover{
    transform: scale(1.05);
}

.pantalones :hover{
    transform: scale(1.05);
}

.carrito :hover{
    transform: scale(1.05);
}




.container7{
    position: absolute;
    background-color: green;
    width: 27vh;
    height: 33vh;
    border-radius: 1vh;
    top: 46vh;
    left: 38vh;
    cursor: pointer;
}

.container8{
    position: absolute;
    background-color: green;
    width: 27vh;
    height: 33vh;
    border-radius: 1vh;
    top: 46vh;
    left: 70vh;
    cursor: pointer;
}

.container9{
    position: absolute;
    background-color: green;
    width: 27vh;
    height: 33vh;
    border-radius: 1vh;
    top: 46vh;
    left: 102vh;
    cursor: pointer;
}

.container10{
    position: absolute;
    background-color: green;
    width: 27vh;
    height: 33vh;
    border-radius: 1vh;
    top: 46vh;
    left: 6vh;
    cursor: pointer;
}

.container11{
    position: absolute;
    top: 23vh;
    width: 27vh;
    height: 10vh;
    border-radius: 1vh;
    background-color: white;
    cursor: pointer;

}

.container22{
    position: absolute;
    top: 23vh;
    width: 27vh;
    height: 10vh;
    border-radius: 1vh;
    background-color: white;

}

.container33{
    position: absolute;
    top: 23vh;
    width: 27vh;
    height: 10vh;
    border-radius: 1vh;
    background-color: white;

}
.container44{
    position: absolute;
    top: 23vh;
    width: 27vh;
    height: 10vh;
    border-radius: 1vh;
    background-color: white;

}
.container55{
    position: absolute;
    top: 23vh;
    width: 27vh;
    height: 10vh;
    border-radius: 1vh;
    background-color: white;

}